#nav {
  height: 95%;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.545);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  animation: clipReveal 1.5s ease-in-out forwards;
}

@keyframes clipReveal {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.hide-nav {
  display: none;
}

.cls-nav {
  animation: close 0.3s ease forwards;
}

.opn-nav {
  animation: open 0.3s ease forwards;
}

@keyframes close {
  to {
    transform: translate(-1.5rem);
    opacity: 0;
  }
}

@keyframes open {
  from {
    transform: translateX(-1.5rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.opn-nav {
  display: none;
}

.dsh-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin: 15px 0;
  margin-top: 0.9rem;
  margin-left: -15px;
}

.dsh-lg h1 {
  font-weight: bold;
  color: #00ffd9ff;
  text-shadow: 0px 0px 15px #00ffd9ff;
  margin-top: 0.5rem;
}

.dsh-lg img {
  filter: drop-shadow(3px 3px 5px rgba(0, 255, 217, 0.338));
}

.lo {
  width: 80%;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-bottom: 15px;
}

.nv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nv ul {
  margin: 0;
}

.nv ul li {
  list-style: none;
  margin-bottom: 3px;
  animation: revealX 1.5s ease-in-out 0.3s forwards;
}

@keyframes revealX {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

.nv ul .oth {
  width: 145%;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50px;
  margin: 15px 0 10px 0;
}

.sd-btn {
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: transparent;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.715);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding: 0.35rem 1rem;
  margin-left: 0.7rem;
  cursor: pointer;
}

.sd-btn img {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.715));
}

.sd-btn:hover {
  background-color: rgba(0, 0, 0, 0.207);
  box-shadow: inset 5px 5px 10px black, inset -1px -1px 10px #00ffd9ff;
}