.btn-cont .al-bt {
  font-family: 'Comic Neue', cursive;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-cont .al-bt:hover {
  box-shadow: 0px 0px 10px #00ffd9ff;
}

.ad-tsk-inp {
  height: 60px;
  width: 90%;
  border: 3px solid white;
  border-radius: 20px;
  outline: none;
  caret-color: black;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.163);
  text-align: center;
  animation: showRight 2s ease-in-out forwards;
}

@keyframes showRight {
  from {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  to {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

.ad-tsk-inp::placeholder {
  color: rgb(235, 235, 235);
}