#content {
  height: 95%;
  width: 95%;
  border: 1px solid rgba(255, 255, 255, 0.545);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-rows: 15% 0 70% 0 15%;
}

hr {
  width: 93%;
  border: 3px solid rgb(255, 255, 255);
  margin: 0 auto;
}

.con {
  display: flex;
  flex-direction: column;
}

.sec_i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_i span {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sec_ii {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_ii div {
  display: flex;
  justify-content: center;
  
  margin-top: 10px;
  overflow: auto;
}

.sec_iii {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_iii .btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
