body {
  outline: none;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  /* background-image: linear-gradient(to right top, #2f4858, #41567a, #6e5d94, #a65e9a, #db5e8c, #ff6b6b); */
  /* background-color: #F0F9FF;background-image: 
                radial-gradient(circle at 5% 10%, #E0F2FE 4%, transparent 0),radial-gradient(circle at 95% 20%, #D1FAE5 5%, transparent 0),radial-gradient(circle at 85% 90%, #FEF3C7 3%, transparent 0),radial-gradient(circle at 15% 85%, #FCE7F3 6%, transparent 0),radial-gradient(circle at 50% 50%, #F5F3FF 5%, transparent 0);background-size: 150px 150px; */
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  caret-color: transparent;
  margin: 0;
  padding: 0;
}

