body {
  outline: none;
  background-image: linear-gradient(to right top, #2f4858, #41567a, #6e5d94, #a65e9a, #db5e8c, #ff6b6b);
  color: #ffffff;
  font-family: 'Comic Neue', cursive;
  font-style: normal;
  caret-color: transparent;
  margin: 0;
  padding: 0;
}

